#about {
  width: 90%;
  text-align: justify;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.devicon-github-plain {
  font-size: 2rem;
}
.devicon-twitter-original {
  font-size: 2rem;
}

.parent {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // @media only screen and (min-width: $cut) {
  //   flex-wrap: nowrap;
  //   font-size: 75px;
  // }
}

.child {
  flex: 1 0 20%; /* explanation below */
  margin: 5px;
  height: auto;
  font-size: 0.4em;
  h3, h4 {
      margin-top: 0em;
      margin-bottom: 0em;
      padding-top: 0.5em;
      line-height: 1.0;
      color: #333;
  }
  img {
    margin-top: 0.75em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border: 7px solid white;
    border-radius: 50%;
    width: 200px;
  }
  a {
    text-decoration: none;
    border: none;
    color: inherit;
  }
}

.user-details {
  text-align: justify;
  margin: 5px auto;
}

img {
  vertical-align: middle;
}



.tech {
  margin: 10px;
  img {
    vertical-align: top;
    padding-top: 10px;
    width: 77px;
    height: auto;
  }
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}
